<style type="text/css">
code {
  color: #444;
  background: #eee;
  border: 1px solid #ccc;
}

.copy-to-clipboard {
  background-color: #eee;
  border: 1px solid #ccc;
  border-left: none;
  height: 19px !important;
}

#support {
  font-size:5em; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 470px;
  margin: auto;
}

#support > .col {
  margin-right: 20px;
}

h1 {
  font-size: 2.5rem;
}

#logo > h1 > img {
    border: 10px solid #312525;
    border-radius: 10px;
}

h1 code, 
h2 code, 
h3 code, 
h4 code, 
h5 code {
  width: 50%;
  font-size: 15px;
  color: #c5c8c6;
  background: #1d1f21;
  padding: 5px 20px 5px 5px;
}

h1 span.copy-to-clipboard, 
h2 span.copy-to-clipboard, 
h3 span.copy-to-clipboard, 
h4 span.copy-to-clipboard, 
h5 span.copy-to-clipboard {
  display: none;
}

a.highlight code {
  background: initial; 
  border: none;
}

a.highlight span.copy-to-clipboard {
  display: none;
}

.dd-item > a > i.fas {
    width: 25px;
    color: #c78d08;
}

ul#unitslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.face, span.face {
    font-family: monospace;
    font-size: 1.4rem;
    margin-right: 10px;
}

div.toc > nav#TableOfContents {
  margin: 0;
  padding: 0 !important;
  font-size: initial !important;
}

div.toc > nav#TableOfContents > ul {
  margin: 0;
  padding: 0 !important;
}

</style>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<link href="/map.min.css" rel="stylesheet">
<script src="/map.min.js"></script>
<script src="/jquery.timeago.js"></script>

<script src="/pwnmap.js?v=2.2"></script>
<script src="/pwnfile.js?v=5.3"></script>
