<a id="logo" href="/">
  <h1 style="margin:0; padding:0">
    <img src="/pwnagotchi.gif?v=2" alt="pwnagotchi"/>
  </h1>

</a>

<p align="center">
  <strong style="color:black">Join the Discord</strong>
  <br/><br/>
  <a href="https://discord.gg/https://discord.gg/btZpkp45gQ" target="_blank" title="Join our community!">
    <img src="https://dcbadge.limes.pink/api/server/https://discord.gg/btZpkp45gQ"/>
  </a>
</p>

<p align="center">
<a href="https://github.com/evilsocket/pwnagotchi/releases/latest">
    <img alt="Release" src="https://img.shields.io/github/release/evilsocket/pwnagotchi.svg?style=flat-square">
  </a>
  <div style="height:34px; width: auto">
    <a href="https://www.patreon.com/bePatron?u=6065463" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
  </div>
</p>
